<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>发布内推</title>
    <!-- Bootstrap core CSS -->
    <link href="../../../dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../dist/css/bootstrap-select.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="$userContent.getURI("css/postJob.css")" rel="stylesheet" type="text/css">
    <script src="../../../js/jquery-2.1.3.min.js"></script>
    <script src="../../../dist/js/bootstrap.min.js"></script>
    <script src="../../../dist/js/bootstrap-select.js"></script>
</head>
<body>
<div class="heading" style="
    padding-bottom: 71px;
">
    $control.setTemplate("home:top.vm")
</div>
<div class="container">
    <div class="body">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-xs-4 col-sm-3 sidebar">
                <div class="jumbotron">
                    <ul class="nav nav-sidebar">
                        <li><a href="$userPersonalInfoLink">个人信息<span class="sr-only">(current)</span></a></li>
                        <li class="active"><a href="$postJobLink">发布内推</a></li>
                        <li><a href="$editResumeLink">简历编辑</a></li>
                        <li><a href="$aiRecommendationLink">智能推荐</a></li>
                        <li><a href="$deliveryRecordLink">投递记录</a></li>
                        <li><a href="$deliveryResumeLink">接受简历</a></li>
                        <li><a href="$postRecordLink">发布记录</a></li>

                    </ul>
                </div>
                <!--/jumbotron-->
            </div>

            <div class="col-xs-16 col-sm-9">
                <div class="jumbotron">
                    <div class="main">
                        <form class="form-horizontal" action="$postJobLink" method="post">
                            <input type="hidden" name="action" value="PostJobAction">
                            <input type="hidden" name="result" id="result" value="$!result"/>

                            <h3>发布内推</h3>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" style="
    text-align: center;
">职位：</label>

                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="jobName" name="jobName"
                                           value="$!job.jobName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" style="
    text-align: center;
">公司：</label>

                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="company" name="company"
                                           value="$!job.company">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" style="
    text-align: center;
">公司规模：</label>

                                <div class="col-sm-5">
                                    <select id="companySize" name="companySize" class="selectpickerCompanySize" style="width: 100%">
                                        <option selected value="1To50">_______1——50人_________</option>
                                        <option value="50To100">_______50——100人_________</option>
                                        <option value="100To500">_______100——500人_________</option>
                                        <option value="500ToXXX">_______500人以上_________</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" style="
    text-align: center;
">地点：</label>

                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="address" name="address"
                                           value="$!job.address">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" style="
    text-align: center;
">薪资：</label>

                                <div class="col-sm-2">
                                    <input type="text" class="form-control" id="minMoney" name="minMoney"
                                           value="$!job.minMoney">
                                </div>
                                <div>
                                    <label class="col-sm-1 control-label" style="
    text-align: center;
">~</label>
                                </div>

                                <div class="col-sm-2">
                                    <input type="text" class="form-control" id="maxMoney" name="maxMoney"
                                           value="$!job.maxMoney">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2" style="
    text-align: center;
">学历：</label>

                                <div class="col-sm-5">
                                    <select id="eduBackground" name="eduBackground" class="selectpickerEdu">
                                        <option selected value="1">----------------专科-----------------</option>
                                        <option value="2">----------------本科-----------------</option>
                                        <option value="3">----------------硕士-----------------</option>
                                        <option value="4">----------------博士-----------------</option>
                                        <option value="0">----------------其他-----------------</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2" style="
    text-align: center;
">专业：</label>

                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="specialty" name="specialty"
                                           value="$!job.specialty" placeholder="请填写要求的完整专业名。">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" style="
    text-align: center;
">职位要求：</label>

                                <div class="col-sm-12">
                                    <textarea id="jobReq" name="jobReq" class="form-control"
                                              style="height: 230px;width: 96%;margin-left: 26px;margin-top: 10px;"
                                              placeholder="请填写职位要求"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" style="
    text-align: center;
">职位摘要：</label>

                                <div class="col-sm-12" style="
    margin-left: 25px;
    width: 730px;
">
                                    <input type="text" class="form-control" id="reqSummary" name="reqSummary"
                                           value="$!job.reqSummary" placeholder="职位摘要，用逗号分开，如：应届生，计算机">
                                </div>
                            </div>


                            <input class="btn btn-primary" type="submit" style="margin-left: 200px;"
                                   name="event_submit_do_postJob" onclick="return clickCheck()" value="发布内推">
                            <a style="margin-left: 200px;" href="$homepageLink" type="button" class="btn btn-primary">取消发布</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--/jumbotron-->
    </div>
    <!--body-->
</div>
<!--container-->

<div class="footer" style="
    width: 100%;
    height: 70px;
    background-color: rgb(42, 42, 79);
">
    $control.setTemplate("home:bootom.vm")
</div>

<script type="text/javascript">
    $(function () {
                var result = $("#result").val();
                if (result == "failed") {
                    alert("发布失败，学长不要走一小会后再发布一下哈！");
                }
                else if (result == "success") {
                    alert("职位发布成功啦，静静滴等待学弟们投递简历吧！");
                }
            }
    );

    //是否为空
    function stringIsNull(str) {
        if (str == "")
            return true;
        else
            return false;
    }

    //检验是否全由数字组成
    function isDigit(temp) {
        var reg = /^[0-9]*$/;
        return reg.test(temp);
    }

    function clickCheck() {
        var jobName = $("#jobName").val();
        var company = $("#company").val();
        var minMoney = $("#minMoney").val();
        var maxMoney = $("#maxMoney").val();
        var address = $("#address").val();
        var jobReq = $("#jobReq").val();
        var reqSummary = $("#reqSummary").val();
        var specialty = $("#specialty").val();
        if (stringIsNull(jobName)) {
            alert("职位名称不能为空！");
            return false;
        }
        if (stringIsNull(company)) {
            alert("公司名称不能为空！");
            return false;
        }
        if (stringIsNull(minMoney) || stringIsNull(maxMoney)) {
            alert("薪资都不能为空！");
            return false;
        }
        if (stringIsNull(address)) {
            alert("地址不能为空！");
            return false;
        }
        if (stringIsNull(jobReq)) {
            alert("工作要求不能为空！");
            return false;
        }
        if (stringIsNull(reqSummary)) {
            alert("职位摘要不能为空！");
            return false;
        }
        if (stringIsNull(specialty)) {
            alert("专业不能为空！");
            return false;
        }
    }
    $('.selectpickerCompanySize').selectpicker();
    $('.selectpickerCompanySize').selectpicker({
        style: 'btn-info',
        size: 4
    });

    $('.selectpickerEdu').selectpicker();
    $('.selectpickerEdu').selectpicker({
        style: 'btn-info',
        size: 4
    });
</script>
</body>
</html>