<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>职位信息</title>
    <!-- Bootstrap core CSS -->
    <link href="../../../dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="$jobContent.getURI("css/jobInfo.css")" rel="stylesheet" type="text/css">
    <script src="../../../js/jquery-2.1.3.min.js"></script>
    <script src="../../../dist/js/bootstrap.min.js"></script>
</head>
<body>
<input type="hidden" name="loginResult" id="loginResult" value="$!loginResult"/>
<div class="heading" style="
    padding-bottom: 71px;
">
    <div class="navbar navbar-fixed-top" role="navigation" style="
    background-color: rgb(42, 42, 79);
">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="$homepageLink">毕业生内推网</a>
            </div>
            <div id="navbar1" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="$homepageLink">首页</a></li>
                    #if($loginResult=="success")
                        <li><a href="$userPersonalInfoLink.addQueryData("userId", $!user.userId)">个人信息</a></li>
                    #end
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
<div class="container">
    <div class="body">

        <input type="hidden" name="sendResult" id="sendResult" value="$!result"/>
        <input type="hidden" name="errorMessage" id="errorMessage" value="$!errorMessage"/>

        <form action="$jobInfoLink" method="post">
            <input type="hidden" name="action" value="SendResumeAction">
            <input type="hidden" name="id" value="$job.id">
            <input type="hidden" name="userId" value="$user.userId">

            <div class="row row-offcanvas row-offcanvas-right">
                <div class="col-xs-12 col-sm-8">
                    <div class="jumbotron">
                        <h4 style="color: darkslategrey">$!job.jobName</h4>
                        <div style="color: darkslategrey">内推学长：$!user.reallyName</div>
                        <div style="color: #6869ff">薪资：$!job.minMoney  ~ $!job.maxMoney</div>
                        <div style="color: coral">发帖时间：$!job.time</div>
                        <div style="color: #6869ff">公司名称：$!job.company</div>
                        <div style="color: #6869ff">地点：$!job.address</div>
                        <div style="color: #6869ff">学校：$!user.university</div>
                        <div style="color: #6869ff">>职位摘要：$!job.reqSummary</div>


                    ##                            <div class="company_tags_wrap">
                    ##                                <ul class="company_list clearfix">
                    ##                                    <li class="company_tag"><span class="content">员工食堂</span><span class="arr"><i class="t_arr"></i><i class="b_arr"></i></span></li><li class="company_tag"><span class="content">弹性工作</span><span class="arr"><i class="t_arr"></i><i class="b_arr"></i></span></li><li class="company_tag"><span class="content">五险一金</span><span class="arr"><i class="t_arr"></i><i class="b_arr"></i></span></li><li class="company_tag"><span class="content">配rMBP</span><span class="arr"><i class="t_arr"></i><i class="b_arr"></i></span></li>
                    ##                                </ul>
                    ##                            </div>

                    </div>
                    <!--/jumbotron-->

                    <div class="jumbotron">
                        <h4>职位信息：</h4>
                        <pre><div id="jobReq">$!job.jobReq</div></pre>
                        </br>
                        </br>
                        <input class="btn btn-primary" type="submit" style="margin-left: 100px;"
                               name="event_submit_do_sendResume" value="发送简历">
                        <a type="button" class="btn btn-primary" href="$homepageLink" style="
    margin-left: 200px;
">返回首页</a>
                    </div>
                    <!--/jumbotron-->


                </div>
                <!--/.col-xs-12.col-sm-9-->
            </div>
    </div>
    <!--body-->
</div>
<!--container-->
<div class="footer" style="
    width: 100%;
    height: 70px;
    background-color: rgb(42, 42, 79);
">
    $control.setTemplate("home:bootom.vm")
</div>

<script type="text/javascript">
    $(function () {
                var _result = $("#sendResult").val();
                var _errorMessage = $("#errorMessage").val();
                if (_result == "failed")
                    alert(_errorMessage);
                else if (_result == "success") {
                    alert(_errorMessage)
                    window.location.href = '$!homepageLink';
                }
            }
    );
    //HTML转义
    function HTMLEncode(html) {
        var temp = document.createElement("div");
        (temp.textContent != null) ? (temp.textContent = html) : (temp.innerText = html);
        var output = temp.innerHTML;
        temp = null;
        return output;
    }

    //HTML反转义
    function HTMLDecode(text) {
        var temp = document.createElement("div");
        temp.innerHTML = text;
        var output = temp.innerText || temp.textContent;
        temp = null;
        return output;
    }
    ##    document.getElementById("jobReq").innerHTML=HTMLDecode("$!job.jobReq");
</script>
</body>
</html>